body {
    margin: 0;
  }
  
ul {
    list-style-type: none;
    padding: 0;
  }

.sub-menu {
  position: absolute;
  top: 0;
  left: 210px;
  width: 200px;
  height: max-content;
  display: none;
  padding-top: 0px;
}

.main-menu li a {
  text-decoration: none;
}

.main-menu li:hover .sub-menu{
  display: block;
  cursor:pointer;
}

.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: max-content;
}

li {
  padding: 10px 10px 10px;
}

a:hover {
  color: orange;
}

.main-menu li:hover .danhmuc {
  color: orange;
}

i {
  border: solid black;
  position: absolute;
  right: 4px;
  font-size: 15px;
}


